POSTGRES_USER=postgres
POSTGRES_PASSWORD=BestDbBestDb_2026_Secure
POSTGRES_DB=best

AUTH_JWT_SECRET=BestJwt_2026_Str0ng_S3cret_For_Production_Change_This_Immediately

SEED_SUPER_ADMIN_USERNAME=superadmin
SEED_SUPER_ADMIN_PASSWORD=Best@123456
SEED_SUPER_ADMIN_FIRSTNAME=Manager
SEED_SUPER_ADMIN_LASTNAME=Admin
