NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/best?schema=public

AUTH_JWT_SECRET=change-this-super-secret-value
AUTH_JWT_ISSUER=best-api
AUTH_JWT_AUDIENCE=best-dashboard
AUTH_JWT_ACCESS_TTL=15m
AUTH_JWT_REFRESH_TTL=30d

BACKUP_DIRECTORY=./backups
BACKUP_INTERVAL_MINUTES=1440

SEED_SUPER_ADMIN_USERNAME=superadmin
SEED_SUPER_ADMIN_PASSWORD=Best@123456
SEED_SUPER_ADMIN_FIRSTNAME=مدیر
SEED_SUPER_ADMIN_LASTNAME=اصلی
